// general
$form-background: #FCFCFC;
$form-border-color: #d0d0d1;

// importance high
$form-item-importance-high-background: #2579C6;
$form-item-importance-high-background-highlight: #3080c9;
$form-item-importance-high-border-color: #1f67a8;
$form-item-importance-high-background-hover: #1f67a8;
$form-item-importance-high-background-hover-highlight: #2a6fac;

// importance medium:
$form-item-importance-medium-background: #747275;
$form-item-importance-medium-background-highlight: #7b797c;
$form-item-importance-medium-border-color: #636164;
$form-item-importance-medium-background-hover: #636164;
$form-item-importance-medium-background-hover-highlight: #6b696c;

// importance low:
$form-item-importance-low-background: #f5f5f5;
$form-item-importance-low-background-highlight: #eeeeef;
$form-item-importance-low-border-color: #d0d0d1;
$form-item-importance-low-background-hover: #deddde;
$form-item-importance-low-background-hover-highlight: #deddde;

// tabs
$tabs-width: 212px;

// dropzone colors
$tab-dropzone-border: #2782d1;
$tab-dropzone-background: #e8f2fa;
